@import '_vars';

@mixin shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}
@mixin border {
    border: 3px solid $border-color;
    border-radius: 5px;
}
@mixin flex($direction: row, $wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}
@mixin pattern{
    background-color:rgb(39, 87, 124);
    background-image: linear-gradient(rgba(200, 200, 200, .1) 2px, transparent 2px),
    linear-gradient(90deg, rgba(200, 200, 200, .1) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}