@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;600&display=swap');
@import '_vars';
@import '_mixins';
@import '_normilize';

html, body{
    background: #222;
}

main{
    font-family: 'Exo 2', sans-serif;
    font-size: $font-size;
    color: $text;

    @media (max-width: 768px){
        font-size: 14px;
    }
}

.heroes-title{
    margin: 20px;
}

.heroes-content{
    max-width: 1170px;
    margin: auto;
}

.heroes-cards-filter{
    margin: 20px;
    font-size: 20px;
    font-weight: 200;
    text-align: right;
}

.hero{
    @include shadow;
    @include border;
    @include flex(column);
    @include pattern;
    margin: 0 auto;
    padding: 15px;
    width: 45%;
    color: rgb(239, 240, 224);
    margin-bottom: 15px;
    &-cards{
        @include flex;
    }
    &-img{
        max-width: 150px;
        height: 200px;
        border: 8px solid $text;

        @media (max-width: 768px){
            max-width: 100px;
            height: 150px;
        }
    }
    .info{
        @include flex($wrap: nowrap);
        padding: 10px;
        &-img{
            margin-right: 25px;
            margin-bottom: 30px;
            position: relative;
            transform: rotate(-4deg) translate(20px, 20px);
            &::before{
                content: '';
                position: absolute;
                top: -21px;
                left: 40%;
                width: 35px;
                height: 50px;
                background: no-repeat url('./../img/tape.png') center / contain;
            }
        }
        &-content{
            font-weight: 600;
            text-transform: uppercase;
            margin-left: 20px;
            p{
                margin-bottom: 5px;
                font-size: 14px;
                color: $char-text;
                @media (max-width: 768px){
                    font-size: 12px;
                }
                span{
                    
                    text-transform: capitalize;
                    font-weight: 200;
                    font-size: $font-size;
                    color: $text;
                    @media (max-width: 768px){
                        font-size: 14px;
                    }
                }
            }
        }

        @media (max-width: 425px){
            padding: 5px;
        }
    }
    .real-name{
        word-wrap: break-word;
        cursor: pointer;
        opacity: 0.1;
        transition: all 0.3s ease-in-out;
        animation: blinker 3s ease-in-out infinite alternate;
        &:hover{
            animation-play-state: paused;
        }
    }
    &-movie-info{
        padding: 15px;
    }
    .movies-list{
        @include flex;
        list-style: none;
        padding-left: 0;
        .movie{
            font-weight: 200;
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }
    &-actor{
        font-weight: 200;
        color: $char-text;
        margin-bottom: 15px;
        .actor{
            font-weight: 400;
            color: $text;
        }
    }

    @media (max-width: 425px){
        width: 90%;
        padding: 5px;
    }
}

@keyframes blinker {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}